<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container text-center mt-3">
      <div class="row">
        <div class="col mb-3">
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
            <div class="field">
              <%= f.label :email, 'Email Address', class: 'sr-only' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "user@homegig.com", class: 'form-control' %>
            </div>

            <div class="field">
              <%= f.label :password, 'Password', class: 'sr-only' %><br />
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: 'form-control' %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field checkbox">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions">
              <input class="btn btn-primary btn-block" type="submit" name="commit" value="Sign in" data-disable-with="Sign in">
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    
    <script src="" async defer></script>
  </body>
</html>
