<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  
    <div class="container mt-3">
      <div class="text-center mb-4">
        <%= render 'layouts/alerts' %>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-centre">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="row">
              <div class="col mb-3">
                <label for="user_email">Email</label>
                <input class="form-control" autofocus="autofocus" autocomplete="email" placeholder="user@homegig.com" type="email" value="" name="user[email]" id="user_email">
              </div>
            </div>

            <div class="row">
              <div class="col mb-3">
                  <label for="user_password">Password</label>
                  <input class="form-control" autocomplete="current-password" type="password" name="user[password]" id="user_password" placeholder="password">
              </div>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field checkbox">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="row">
              <div class="col-md-4 mb-3"></div>
              <div class="col-md-4 mb-3">
                <input class="btn btn-primary btn-block" type="submit" name="commit" value="Sign in" data-disable-with="Sign in">
              </div>
            </div>
          <% end %>

          <div class="text-center mb-4">
            <%= render "devise/shared/links" %>
            <%= render 'layouts/alerts' %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <script src="" async defer></script>
  </body>
</html>
