<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

<h1>Listing Reports</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @reports.each do |report| %>
    <tr>
      <td><%= report.title %></td>
      <td><%= report.description %></td>
      <td><%= link_to 'Show', report %></td>
      <td><%= link_to 'Edit', edit_report_path(report) %></td>
      <td><%= link_to 'Delete', report,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>



