<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit review</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <h1>Notifications</h1>

        <%= form_with(model: [ @user, @setting ], local: true) do |form| %>
            <% if current_user.role =='worker'%>
            <p>
                <%= form.label :bid_accepted %>
                <%= form.check_box :bid_accepted, value: :bid_accepted %>
            </p>

            <p>
                <%= form.label :bid_reverted %>
                <%= form.check_box :bid_reverted, value: :bid_accepted %>
            </p>

            <p>
                <%= form.label :job_started %>
                <%= form.check_box :job_started, value: :job_started %>
            </p>
            <p>
                <%= form.label :job_completed %>
                <%= form.check_box :job_completed, value: :job_completed %>
            </p>

            <p>
                <%= form.label :job_cancelled %>
                <%= form.check_box :job_cancelled, value: :job_cancelled %>
            </p>

            <p>
                <%= form.label :review_received %>
                <%= form.check_box :review_received, value: :review_received %>
            </p>

            <% elsif current_user.role == 'owner' %> 

            <p>
                <%= form.label :bid_created %>
                <%= form.check_box :bid_created, value: :bid_created %>
            </p>
            
            <p>
                <%= form.label :job_created %>
                <%= form.check_box :job_created, value: :job_created %>
            </p>
            <p>
                <%= form.label :job_edited %>
                <%= form.check_box :job_edited, value: :job_edited %>
            </p>
            <p>
                <%= form.label :job_deleted %>
                <%= form.check_box :job_deleted, value: :job_deleted %>
            </p>

            

            <p>
                <%= form.label :review_posted %>
                <%= form.check_box :review_posted, value: :review_posted %>
            </p>

            <p>
                <%= form.label :review_edited %>
                <%= form.check_box :review_edited, value: :review_edited %>
            </p>

            
            <% end %>



            <div class="actions">
            <%= form.submit "Update" %>
            </div>
           
        <% end %>
        
        
        <script src="" async defer></script>
    </body>
</html>