<h1>Listing Jobs</h1>

<%= link_to 'Sign up', new_user_registration_path %>

<%= link_to 'Sign in', new_user_session_path %>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

<%= link_to 'Edit Profile', edit_user_registration_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.description %></td>
      <td><%= job.price %></td>
      <td><%= job.status %></td>
      <td><%= link_to 'Show', job_path(job) %></td>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Delete', job_path(job),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Add Job", new_job_path %>
