<h1>Job</h1>
<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @job.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<h2>Bids</h2>
<%= render @job.bids %>

<% if current_user != User.find(@job.user_id) %>
<h2>Add a Bid:</h2>
<%= render 'bids/form' %>
<% end %>

<% if @job.status == "completed" %>
  <h2>Review</h2>
  <%= render @job.reviews %>

  <h2>Add a Review:</h2>
  <%= render 'reviews/form' %>
<% end %>



<%= link_to 'Edit', edit_job_path(@job) %>
<%= link_to 'All Jobs', jobs_path %>