<%= form_with(model: [ @job, @job.reviews.build ], local: true) do |form| %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
  </p>
  <p class="field">
    <%= form.label :rating %><br />
    <%= form.select(:rating, Review.ratings.values.map {|rating| [rating, rating]})%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>