<%= form_with(model: [ @job, @job.reviews.build ], local: true) do |form| %>
  <p class="field">
    <%= form.label :worker_id %><br>
    <%= form.select(:worker_id, @job.bids.map {|bid| 
      [User.find(bid.user_id).first_name + " " + User.find(bid.user_id).last_name, bid.user_id]
    })%>
  </p>
  <p>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
  </p>
  <p class="field">
    <%= form.label :rating %><br />
    <%= form.select(:rating, Review.ratings.values.map {|rating| [rating, rating]})%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>