  <tr>
    <td><%= User.find(review.worker_id).first_name + " " + User.find(review.worker_id).last_name%></td>
    <td><%= review.text %></td>
    <td><%= review.rating %></td>
    <% if current_user == User.find(@job.user_id) %>
      <td><%= link_to 'Edit Review', edit_job_review_path(@job, review) %></td>
      <td><%= link_to 'Delete Review', [review.job, review],
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to "Worker", user_path(User.find(review.worker_id)) %></td>
    <% end %>
  </tr>
</table>
