<p>
  <strong>User:</strong>
  <%= User.find(review.worker_id).first_name + " " + User.find(review.worker_id).last_name%>
</p>

<p>
  <strong>Text:</strong>
  <%= review.text %>
</p>
 
<p>
  <strong>Rating:</strong>
  <%= review.rating %>
</p>
<% if current_user == User.find(@job.user_id) %>
<p><%= link_to 'Edit Review', edit_job_review_path(@job, review) %></p>
<p><%= link_to 'Delete Review', [review.job, review],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to "Worker", user_path(User.find(review.worker_id)) %>
</p>
<%end%>
