<!DOCT<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <%= render "layouts/email" %>


    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
  <tr>
   <td style="padding: 10px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
    
                        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                        <b>You have successfully edited a review.</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                        
                                        
    <p>
      You have successfully posted a review for the following:<br>
      Job: <%= link_to "View Job" , (@job) %>.<br>
      <h2> Review: </h2>
      <p>
        <h4>Rating:</h4> 
        <%= @review.rating %> <br>
        <h4>Text: </h4>
        
        <%= @review.text %>
      </p>
 <br>
    </p>

                  
                                    </td>

                                </tr>
                                <tr>
                                  <td bgcolor="#007BFF" style="padding: 12px 18px 12px 18px; border-radius:3px; color: #FFFFFF; font-family: Arial, sans-serif; font-size: 24px;" align="center"><%= link_to "View Job" , (@job), {:style=>'color:#FFFFFF;'}%></td>
        
   
                  </tr>
                  

    
</html>







<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received a review.</h1>
    <p>
      You have successfully posted a review for the following:<br>
      Job: <%= link_to "View Job" , (@job) %>.<br>
      <h2> Review: </h2>
      <p>
        Rating: <%= @review.rating %> <br>
        Text: <%= @review.text %>
      </p>
 <br>
    </p>
    
  </body>
</html>