<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Edit bid</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>
<body>
<%= render "layouts/nav" %>
<%= render "layouts/alerts" %>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a>
  to improve your experience.</p>
<![endif]-->
<div class="container">
  <div class="text-center mb-4">
  	<%= render "layouts/alerts" %>
  	<% report_owner = User.find(@report.user_id) %>
    <h1 class="h3 mb-3 font-weight-normal">Report Description</h1>
  </div>

  <div class="row">
    <div class="col-md-3 mb-3"></div>
    <div class="col-md-6 mb-3">
      <h2>Title: <%= @report.title %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 mb-3"></div>
    <div class="col-md-6 mb-3">
      <p><strong>Description: </strong><%= @report.description %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 mb-3"></div>
    <div class="col-md-6 mb-3">
      <p><strong>Status: </strong><%= @report.status %></p>
    </div>
  </div>

  <% if report_owner != current_user %>
    <div class="row">
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-6 mb-3">
        <p class="text-capitalize">
          <strong>Owner: </strong><%= link_to "#{report_owner.first_name} #{report_owner.last_name}", user_path(@report.user_id) %>
        </p>
      </div>
    </div>
  <% end %>

  <% if report_owner == current_user %>
    <div class="row">
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-2 mb-3">
        <%= button_to 'Back', reports_path, method: :get, class: "btn btn-dark btn-block" %>
      </div>
      <% if @report.status == "unresolved" %>
        <div class="col-md-2 mb-3">
          <%= button_to 'Resolve', report_resolve_path(@report), method: :patch, class: "btn btn-secondary btn-block" %>
        </div>
      <% else %>
        <div class="col-md-2 mb-3">
          <%= button_to 'Unresolve', report_unresolve_path(@report), method: :patch, class: "btn btn-secondary btn-block" %>
        </div>
      <% end %>
      <div class="col-md-2 mb-3">
        <%= button_to 'Edit Report', edit_report_path(@report), method: :get, class: "btn btn-secondary btn-block" %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-4 mb-3"></div>
      <div class="col-md-2 mb-3">
        <%= button_to 'Back', home_admin_path, method: :get, class: "btn btn-dark btn-block" %>
      </div>
      <% if @report.status == "unresolved" %>
        <div class="col-md-2 mb-3">
          <%= button_to 'Resolve', report_resolve_path(@report), method: :patch, class: "btn btn-secondary btn-block" %>
        </div>
      <% else %>
        <div class="col-md-2 mb-3">
          <%= button_to 'Unresolve', report_unresolve_path(@report), method: :patch, class: "btn btn-secondary btn-block" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= render 'layouts/footer' %>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>