<div class="col-md-8 justify-content-centre">

  <%= bootstrap_form_with(model: [@job, @job.bids.build], local: true) do |form| %>


    <div class="form-group">
      <%= form.text_area :description, help: "Please type in the work you will be doing" %>
    </div>
    <div class="row">
      <div class="col mb-3">
        <%= form.number_field :amount, prepend: "$", help: "Total payment expected at the end of the job" %>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <%= form.number_field :duration, help: "Duration should be in days", append: "days" %>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <%= form.date_select :starting_date, help: "Date you're expected to start working on job" %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-block btn-primary" %>
    </div>
  <% end %>
  <br>
</div>

