<%= form_with(model: [ @job, @job.bids.build ], local: true) do |form| %>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>

  <p>
    <%= form.label :amount %><br>
    <%= form.text_area :amount %>
  </p>

  <p>
    <%= form.label :duration %><br>
    <%= form.text_area :duration %>
  </p>

  <p>
    <%= form.label :starting_date %><br>
    <%= form.date_field :starting_date %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
