<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Edit bid</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>
<body>
<%= render "layouts/nav" %>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a>
  to improve your experience.</p>
<![endif]-->
<div class="container">
  <div class="text-center mb-4">
    <%= render 'layouts/alerts' %>
    <h1 class="h3 mb-3 font-weight-normal">Edit bid</h1>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 justify-content-centre">
      <% if @job.status == 'available' %>
        <%= bootstrap_form_with(model: [@job, @bid], local: true) do |form| %>
          <% if @bid.errors.any? %>
            <div id="error_explanation">
              <%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:
              <ul>
                <% @bid.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.text_area :description, help: "Please type in the work you will be doing" %>
          </div>
          <div class="row">
            <div class="col mb-3">
              <%= form.number_field :amount, prepend: "$", help: "Total payment expected at the end of the job" %>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <%= form.number_field :duration, help: "Duration should be in days", append: "days" %>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text required" for="bid_starting_date">Starting date</label>
                </div>
                <select class="custom-select" name="bid[starting_date(1i)]" id="bid_starting_date_1i">
                  <option value="2019">2019</option>
                  <option value="2020" selected="selected">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                  <option value="2031">2031</option>
                  <option value="2032">2032</option>
                  <option value="2033">2033</option>
                  <option value="2034">2034</option>
                  <option value="2035">2035</option>
                  <option value="2036">2036</option>
                  <option value="2037">2037</option>
                  <option value="2038">2038</option>
                  <option value="2039">2039</option>
                  <option value="2040">2040</option>
                  <option value="2049">2049</option>
                </select>
                <select class="custom-select" name="bid[starting_date(2i)]" id="bid_starting_date_2i">
                  <option value="1" selected="selected">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
                <select class="custom-select" name="bid[starting_date(3i)]" id="bid_starting_date_3i">
                  <option value="1" selected="selected">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <%= form.submit class: "btn btn-block btn-outline-primary" %>
            </div>
          </div>
        <% end %>
      <% elsif @job.status == 'started' %>
        <div class="row flex">
          <h3 class="display-4 mx-auto">Job has already started!</h3>
        </div>
      <% elsif @job.status == 'completed' %>
        <div class="row flex">
          <h3 class="display-4 mx-auto">Job has already been completed!</h3>
        </div>
      <% else %>
        <div class="row flex">
          <h3 class="display-4 mx-auto">Job has been deleted!</h3>
        </div>
      <% end %>
      <br>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mb-3">
          <%= button_to 'Back', home_worker_path, class: "btn btn-block btn-primary", :method => :get %>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>