<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bids</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <h1>List of All Bids</h1>
    <h2> <%= @job.title %></h2>
    <p> <%= @job.description %> </p>

    <%= form_with(model: @job, local: true) do |form| %>
      <% if @job.errors.any? %>
          <div id="error_explanation">
              <%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:
          <ul>
              <% @job.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
          </ul>
          </div>
      <% end %>
      <table>
        <tr>
          <th>Select</th>
          <th>Bid Description</th>
          <th>Bid Amount</th>
          <th></th>
        </tr>

        <% @job.bids.each do |bid| %>
          <tr>
            <td><%= check_box_tag(bid.selected) %></td>
            <td><%= bid.description %></td>
            <td><%= bid.amount %></td>
            <% if false %>
            <td><%= link_to 'Show Job', [@job] %></td>
            <td><%= link_to 'Edit', edit_job_bid_path(@job, bid) %></td>
            <% end %>
            <td><%= link_to 'Reject Bid', [@job, bid],
                method: :reject,
                data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>
      <p>
        <%= form.submit %>
      </p>
      <%end%>
    <%= link_to 'Back', job_path(@job) %>
    
    <script src="" async defer></script>
  </body>
</html>
