<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bids</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
    <%= render "layouts/nav" %>
    <div class="container mt-3">
      <div class="text-center mb-4">
        <%= render 'layouts/alerts' %>
        <h1 class="h3 mb-3 font-weight-normal">View bids for <%= @job.title.capitalize %></h1>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-centre">
          <div class="row">
            <div class="col justify-content-centre">
              <% if @job.bids.present? %>
                <div class="mb-4">
                  <h4 class="h4 mb-3 font-weight-normal">All bids</h4>
                </div>
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Worker</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Duration</th>
                    <% if @job.status != 'completed'%>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    <% end %>
                  </tr>
                  </thead>
                  <tbody>
                  <% @job.bids.each do |bid| %>
                    <tr>
                    <td style="cursor: pointer;"><%= bid.description %></td>
                    <td style="cursor: pointer;"><%= number_to_currency(bid.amount) %></td>
                    <% @worker = User.find(bid.user_id) %>
                    <td style="cursor: pointer;" onclick="location.href='<%=user_path(@worker)%>'">
                      <%= @worker.first_name.capitalize %> <%= @worker.last_name.capitalize %>
                    </td>
                    <td style="cursor: pointer;"><%= bid.starting_date.to_date %></td>
                    <td style="cursor: pointer;"><%= bid.duration %> days </td>
                    <% if bid.selected == 0 %>
                      <td><%= link_to new_billing_path(:jobId => @job.id, :bidId => bid.id), data: {confirm: 'Are you sure?'} do%>
                        <i class="fas fa-check"></i>
                        <% end %>
                      </td>
                      <td><%= link_to job_bid_reject_path(@job, bid), method: :delete, data: {confirm: 'Are you sure?'} do%>
                        <i class="fas fa-times"></i>
                        <% end %>
                      </td>
                    <% elsif bid.selected == 1 && @job.status != 'completed'%>
                      <td> Bid already accepted </td>
                      <td><%= link_to 'Revert', job_bid_revert_bid_path(@job, bid),
                                  method: :patch,
                                  data: {confirm: 'Are you sure?'} %></td>
                    <% end %>
                    
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              <% else %>
                <p class="lead text-center">
                  You have no bids yet! We'll notify you when someone places a bid
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3"></div>
      <div class="col-md-2 mb-3">
        <%= button_to 'Confirm Bids', job_accept_bids_path(@job), :method => :patch, data: {confirm: 'Are you sure?'}, class: "btn btn-block btn-primary" %>
      </div>
      <div class="col-md-2 mb-3">
        <%= button_to 'Back', job_path(@job), :method => :get, class: "btn btn-block btn-dark" %>
      </div>
    </div>

  </div>
  <%= render 'layouts/footer' %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
